<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>


    <div class="login-form">
      <h3>Register Page</h3>
      <form action="/register" method="POST">
        <div class="input-group">
            <label for=username" >Username: </label>
            <input type="text" name="username" />
          </div>
        <div class="input-group">
          <label for="" class="email">Email</label>
          <input type="email" name="email" />
        </div>
        <div class="input-group">
          <label for="password" name="password">Password</label>
          <input type="password" name="password" />
        </div>
        <button>Register</button>
      </form>
      <a href="/login">login</a>
    </div>

    <script src="" async defer></script>
  </body>
</html>
